# Build outputs (Compilation artifacts)
[Bb]in/
[Oo]bj/

# IDE / User-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Settings files
settings.json


# OS-specific files
.DS_Store
Thumbs.db
